{% extends "_base.html" %}

{% block title %}退出 - {{ handler.get_runtime_conf('title') }}{% end %}

{% block main %}
<div class="card-wrap span3" style="float:none">
    <div class="card-main">
        <div class="card-logo">
            <img class="avatar" src="{% if handler.current_user and handler.current_user['user_logo'] %}{{ handler.current_user['user_logo'] }}{% else %}{{ static_url('img/b.gif') }}{% end %}">
        </div>

        <form class="card-form" action="/leave" method="post">
            {% raw xsrf_form_html() %}

            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-danger input-block-level">注销会话</button>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <button type="button" class="btn input-block-level" onclick="history.go(-1)">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% end %}